.solucoes__box{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    text-align: center;
    margin: 6em 10em;
}
.solucoes__box__servicos{
    width: 25vh;
    background-color: var(--cor-box);
    padding: 1em;
    border-radius: 10px;
}
.solucoes__box__servicos > img{
    width: 12vw;
}
.solucoes__box__servicos > p{
    color: var(--cor-azul-claro);
    padding: 0 1em;
}
