.tarja{
    display: flex;
    justify-content: space-between;
    gap: 5em;
    background-color: var(--cor-azul);
    color: var(--cor-branca);
    padding: 5em 15em;
    font-family: var(--fonte-mont);
    align-items: center;

}
.tarja__principal{
    width: 50vw;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}
.tarja__texto{
    width: 50vw;
    font-size: 25px;
    text-align: justify;
}

@media screen and (max-width: 1570px){
    .tarja__principal{
        width: 70vw;
        font-size: 30px;
    }
    .tarja__texto{
        font-size: 15px;

    }
}

@media screen and (max-width: 1325px) {
    .tarja{
        padding: 3em 10em;
    }
    .tarja__principal{
        font-size: 21px;
    }
    .tarja__texto{
        width: 70vw;
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px){
    .tarja{
        padding: 3em 10em;
    }
    .tarja__principal{
        font-size: 15px;
    }
    .tarja__texto{
        font-size: 12px;
    }
}

@media screen and (max-width: 428px){
    .tarja{
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 4em 11em;
    }
    .tarja__texto{
        display: none;
    }
    .tarja__principal > strong{

        font-size: 16px;
    }
}